html,
body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5%;
    padding-left: 5%;
}
.kif{
    border-radius: 50%;
}
.cadre{
    width: 200px;
    height: 170.5px;
    border: 10px solid;
    color: tomato;
    margin-left: 150px;
    z-index: -4;
    position: absolute;
}
.nav-menu{
    display: grid;
    justify-content: space-around;
    grid-template-columns: 40% 40%;
    width: 200px;
    align-content: flex-end;
    padding-right: 5%;
    padding-bottom: 3%;
}
.btn1{
    background-color: tomato;
    border-radius: 30px;
    padding: 12.5px
}
.btn2{
    border-radius: 30px;
    background-color: tomato;
    padding: 12.5px
}
.ful{
    display: flex;
    justify-content: space-between;
    padding: 215px;
}
.text{
    padding-left: 150px;  
}
.b{
    color: tomato;
}
footer{
    display: flex;
    justify-content: center;
    color: tomato;
    padding:35px;
    background-color: black;
}